.mintapps .alert-wrapper {
  animation: ease modal-alert-fade-in 0.5s;
  z-index: 10000;
  position: fixed;
  top: 30%;
  height: 40%;
  left: 30%;
  width: 40%;
  background-color: var(--ternary-color);
  color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgb(0 0 0 / 33%);
  display: table;
  opacity: 0.9;
}

.mintapps .alert-content {
  text-align: center;
  font-size: 130%;
  display: table-cell;
  vertical-align: middle;
  padding: var(--spacing);
}

@media only screen and (width <=800px) {
  .mintapps .alert-wrapper {
    left: 20%;
    width: 60%;
  }
}

@media only screen and (width <=600px) {
  .mintapps .alert-wrapper {
    left: 10%;
    width: 80%;
  }
}


@keyframes modal-alert-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}