/* top panel */
.mintapps .nav-top {
  height: 2.2em;
  padding: 0 0.3em;
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--dividor-color);
  flex-shrink: 0;
  flex-grow: 0;
}

.mintapps .nav-top .nav-img {
  height: 1.8em;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 0.3s;
}

.mintapps .nav-top .nav-img:hover {
  transform: scale(1.1);
}

.mintapps .nav-top .nav-link {
  text-decoration: none;
  margin: 3px;
}

.mintapps .nav-top .micro-nav-link::before {
  content: "➞";
  margin-right: 0.3rem;
}

.mintapps .nav-top .micro-nav-link:first-child::before {
  display: none;
}

.mintapps .nav-top .nav-link:hover {
  font-weight: bold;
}

/* drop down menu */
.mintapps .nav-top .menu-mask {
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 9998;
  right: 0;
  top: 2.2em;
  overflow-y: auto;
  animation: slide 0.3s;
  box-sizing: border-box;
  background-color: color-mix(in srgb, var(--background-color) 50%, transparent);
}

.mintapps .nav-top .menu-mask>* {
  background-color: var(--background-color-1);
  margin: 0.5em;
  border: solid 1px var(--dividor-color);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  max-width: 30rem;
}

/* general grid container for topics & locales */
.mintapps .nav-top .grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3em;
  justify-content: end;
}

.mintapps .nav-top .grid-container>* {
  /* see also ScreenReader, use copy there */
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  margin: 0.3em;
  min-width: 3em;
}

.mintapps .nav-top .grid-container img {
  width: 2.5em;
  height: 2.5em;
}

.mintapps .nav-top .grid-container a {
  text-decoration: none;
}

.mintapps .nav-top .grid-container label {
  display: block;
  color: var(--text-color);
  overflow-wrap: break-word;
}

.mintapps .nav-top .locale-container img {
  height: 2.5em;
  max-width: 3em;
  width: inherit;
}

.mintapps .nav-top .hide-small {
  display: inherit;
}

.mintapps .nav-top .hide-large {
  display: none;
}

@media screen and (width <=40em) {
  .mintapps .nav-top .hide-small {
    display: none;
  }

  .mintapps .nav-top .hide-large {
    display: inherit;
  }
}

@media print {
  .mintapps .nav-top {
    display: none;
  }
}

/* Login popup menu */
.mintapps .nav-top .login-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: var(--spacing);
  min-width: 20em;
  text-align: left !important;
}

.mintapps .nav-top .sub-container {
  min-height: 2rem;
  display: flex;
  gap: var(--spacing);
}

/* Bottom panel */

.mintapps .nav-bottom {
  height: 1.7em;
  justify-content: space-between;
  display: flex;
  border-top: solid 1px var(--dividor-color);
  background-color: var(--background-color);
  flex-grow: 0;
}

.mintapps .nav-bottom>span {
  padding: 0.2rem var(--spacing);
}

.mintapps .nav-bottom>span>a {
  text-decoration: none;
}

@media print {
  .mintapps .nav-bottom {
    display: none;
  }
}

/* Login popup */
.mintapps .login-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.mintapps .login-button-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}