.mintapps .page-title {
  text-align: center;
  padding: var(--spacing) 0 0 0;
  max-height: 30rem;
  margin-bottom: var(--double-spacing);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--dividor-color);
  flex-grow: 0;
}

.mintapps .page-title h1 {
  font-weight: bold;
  font-size: 200%;
  margin: var(--spacing) 0 0 0;
}

.mintapps .page-title .subtitle {
  font-size: 120%;
  opacity: 0.90;
}

.mintapps .page-title sub,
.mintapps .page-title sup {
  line-height: 0px;
}

.mintapps .page-title-container {
  padding-bottom: 0 !important;
}

.mintapps .page-title .tab-group {
  text-align: left;
  margin-top: var(--double-spacing);
  min-height: var(--spacing);
}

.mintapps .page-title .tab-group > * {
  border: solid 1px var(--dividor-color);
  margin: 0 0.15rem -1px 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: var(--primary-text-color);
  padding: 0.5rem;
  vertical-align: bottom;
  font-size: var(--font-size-text);
  cursor: pointer;
  display: inline-block;
  transition: hover 0.3s;
  line-height: 100%;
  max-width: 12rem;
}

.mintapps .page-title .tab-inactive {
  background-color: var(--transparent);
}

.mintapps .page-title .tab-active {
  background-color: var(--background-color-1);
  border-bottom: solid 1px var(--background-color-1);
}

.mintapps .page-title .tab-active:hover {
  cursor: inherit;
}

.mintapps .page-title .tab-inactive:hover {
  filter: brightness(90%);
}

.mintapps .page-title .tab-active:focus {
  outline: none;
}

@media screen and (width <= 500px) {
  .mintapps .page-title h1 {
    font-size: 24px;
  }
}

@media print {
  .mintapps .page-title {
    background-color: inherit;
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 1rem;
  }

  .mintapps .page-title-container {
    width: 100%;
  }

  .mintapps .page-title h1 {
    margin: 0;
    font-size: 140%;
    font-variant: small-caps;
    width: 100%;
  }

  .mintapps .page-title .subtitle {
    font-size: 120%;
    opacity: 1;
  }

  .mintapps .tab-group {
    display: none;
  }
}