/* Specific styles for download packages and SCORM packages */
.mintapps[data-theme="light"] {
  --background-color: #ffffff !important;
  --background-color-1: #ffffff !important;
}

.mintapps .page-title {
  background-color: var(--background-color-1) !important;
}

.mintapps .page-title-container {
  text-align: left;
  padding: 0;
  z-index: 1000;
  padding-top: 0.5rem;
}

.mintapps .page-title-container .title {
  font-size: 130%;
  margin-left: 0;
}

.mintapps .page-title-container .subtitle {
  font-size: 100% !important;
  margin-left: 0;
}

.mintapps .container {
  padding: 0; 
}

.mintapps .mint-card {
  border: solid 1px var(--dividor-color);
}

.mintapps .scorm-hide {
  display: none !important;
}

