.video-container {
  width: 100%;
  position: relative;
  text-align: center;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  width: 10rem;
  background-color: #c0c0c0c0;
  color: black;
}

.video-preview {
  max-height: 70vh;
  max-width: 100%;
}